.single-container-details {
    margin: 0 auto;
    padding: 20px;
  }
  
  .single-product-details {
    width: 90%;
    height: 450px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin: 10px auto;
  }
  
  .single-product-image {
    width: 420px;
    height: 300px;
    object-fit: contain;
    margin-right: 20px;
  }
  
  .single-product-name {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .single-product-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  .single-product-price {
    font-size: 20px;
    font-weight: bold;
    color: #c00;
    margin-bottom: 20px;
  }
  .back-button{
    text-decoration: none;
    background-color: #c00;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
  }
  .back-button:hover{
    background-color: rgb(255, 0, 0);
    transition: all .7s ease;
  }

  .loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  .loading{
    font-weight: 700;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
  }

.product-images-container {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Center the images vertically */
}

.product-image {
  width: 200px;
  height: 120px;
  margin: 5px;
  object-fit: contain;
  cursor: pointer;
}

.product-image.selected {
  transform: scale(1.5); 
  object-fit: contain;
  width: 100%;
  height: 80vh;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1;
}


.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.selected-image-div {
  width: 60%; 
  background-color: white; 
  padding: 20px;
  text-align: center;
  position: relative;
}

.selected-image-div img {
  width: 80%;
  height: 70vh;
  transition: all 1s ease;
}

.exit-button {
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  width: 40px;
  background-color: red;
  border-radius: 5px;
  height: 40px;
  color: white;
  margin: 4px auto;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: white;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 5px;
  color: #333;
  font-weight: bold;
  z-index: 2; 
}


.left {
  left: 20px; 
}

.right {
  right: 20px; 
}

.icon{
  font-size: 40px;
  color: rgb(61, 60, 60);
  font-weight: 600;
}
.icon:hover{
  color: black;
  font-weight: 700;
}

  @media (max-width: 590px) {
    .single-product-details{
      display: flex;
      flex-direction: column;
    }
    .single-product-image{
      width: 420px;
      margin: 20px auto;
      height: 350px;
    }
    .single-product-div-desc{
      margin-top: 50px;
    }
  }