ul {
    list-style: none;
    padding: 0;
  }
  .product-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .product-item {
    width: 340px;
    border: 1px solid #ccc;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 3px auto;
  }
  
  .product-details {
    flex-grow: 1;
    margin-left: 5px;
    margin-bottom: 10px;
  }
  
  .product-name {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .product-price {
    color: #888;
  }
  
  .product-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cart-details {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .cart-name {
    font-weight: bold;
  }
  
  .cart-quantity {
    color: #888;
  }
  
  .cart-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .total-price {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .product-image{
    width: 160px;
    height: 150px;
    object-fit: contain;
  }
  .product-spec{
    display: flex;
    flex-direction: column;
    margin: 3px 5px;
  }
  
  .message{
    color: green;
    font-weight: 600;
    font-size: 14px;
    margin-left: 15px;
  }

  .category-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .category-item {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: rgb(80, 79, 79);
  }
  
  .category-item.active {
    background-color: #333;
    color: #fff;
  }

  .loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
  
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  .loading{
    font-weight: 700;
  }
  
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.page-item {
  background-color: #f0f0f0;
  color: #333;
  font-weight: 600;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.page-item.active {
  background-color: #007bff;
  color: #fff; 
}
.disabled{
opacity: 0.4;
cursor: unset;
}

  @keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(180deg); }
    100% { transform: rotate(360deg); }
  }
  

  @media (max-width: 530px) {
    .category-list {
      flex-wrap: wrap;
    }
  
    .category-item {
      flex: 0 0 100%;
      margin-bottom: 10px;
    }
    .product-item{
      margin: 5px auto;
      align-items: center;
    }
  }